<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>生命周期首页</title>
	<link rel="stylesheet" type="text/css" href="../commonLib/_element-ui@2.4.8@element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="../css/lifecycleSearch.css">
	<script type="text/javascript" src="../commonLib/vue/vue.js"></script>
	<script type="text/javascript" src="../commonLib/jQuery/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="../commonLib/_element-ui@2.4.8@element-ui/lib/index.js"></script>
	<script type="text/javascript" src="../js/pathConfig.js"></script>
	<script type="text/javascript" src="../js/tableInfoMap.js"></script>
</head>
<body>
	<div id="app" v-cloak>
		<div class="layer-1" >
			<div class="page-north">
				<div class="keyword-pane">
					<el-input placeholder="关键字" v-model="keywordInput"  :disable="isSeniorSearch" @keyup.enter.native="doSearch">
						<i slot="suffix" class="el-input__icon el-icon-search" @click="doSearch"></i>
					</el-input>
				</div>
				<div class="search-operate-pane">
					<el-select v-model="currTemplate" placeholder="模板" @change="chooseTemplate" filterable>
					    <el-option
					      v-for="template in templates"
					      :key="template.TemplateId"
					      :label="template.TemplateName"
					      :value="template.TemplateId">
					    </el-option>
					</el-select>
					<el-button @click="changeLayer" icon="el-icon-more" circle size="small"></el-button>
				</div>
			</div>
			<div class="page-center">
				<div class="result-content-div">
					<div class="table-content-div">
						<el-table
								:data="pageInfo.list"
								style="width:100%;"
								max-height="600"
								@row-click="doResultTableClick"
								:header-cell-style="resultTableHeaderCellStyle"
								:cell-style="resultTableRowStyle"
								border
						>
							<!--<el-table-column v-for="table in outputTableArr" :key="table" :label="tableFieldMap[table]['alias']">-->
								<!--<el-table-column v-for="field in outputInfo" :key="field.FieldName" :label="tableFieldMap[table]['fields'][field.FieldName]"-->
												 <!--:prop="field.TableName+'_'+field.FieldName"-->
												 <!--v-if="field.TableName == table"-->
								<!--&gt;</el-table-column>-->
							<!--</el-table-column>-->
							<el-table-column v-for="(field,index) in outputInfo" :key="index"
											 :label="tableFieldMap[field.TableName]['fields'][field.FieldName]"
											 :prop="field.TableName+'_'+field.FieldName"
											 :show-overflow-tooltip="true"
							>
								<!--<template slot-scope="scope">-->
									<!--<span v-if="filterUserField(field.FieldName)" v-html="userFilter(scope)"></span>-->
									<!--<span v-if="!filterUserField(field.FieldName)" v-html="test(scope)"></span>-->
								<!--</template>-->
								<template slot-scope="scope">
									<span v-html="keywordFormat2(scope)"></span>
								</template>
							</el-table-column>
						</el-table>
					</div>
					<div class="page-div">
						<el-pagination
							@size-change="pageSizeChangeHandler"
							@current-change="currentPageChangeHandler"
							:current-page="tableCurrentPage"
							:page-sizes="[15,20,25,30]"
							:page-size="currPageSize"
							layout="total,sizes,prev,pager,next,jumper"
							:total="pageInfo.total"
							background
						></el-pagination>
					</div>
				</div>
			</div>
		</div>
		<transition name="slide-fade">
			<div class="layer-2" v-show="isShowLayer2">
				<div class="layer-2-north">
					<el-button  @click="changeLayer" icon="el-icon-back" circle></el-button>
					<el-select v-model="currTemplate" placeholder="模板" @change="chooseTemplate" filterable>
						<el-option
								v-for="template in templates"
								:key="template.TemplateId"
								:label="template.TemplateName"
								:value="template.TemplateId">
						</el-option>
					</el-select>
					<el-button  @click="doSeniorSearch" icon="el-icon-search" circle></el-button>
					<el-popover placement="right" width="400" trigger="click">
						<div style="display: flex;align-items: center;">
							<span style="flex: 1 0 auto;">名称 : </span>
							&nbsp;
							<el-input size="small" v-model="newTemplateName" clearable></el-input>
							&nbsp;
							<el-button icon="el-icon-check" circle size="small" @click="doTemplateSave"></el-button>
						</div>
						<el-button icon="el-icon-star-off" circle slot="reference"></el-button>
					</el-popover>
				</div>
				<div class="layer-2-main">
					<div class="input-div">
						<div class="info-title">
							<span>输入信息</span>
						</div>
						<div class="info-main">
							<div class="info-tags">
								<!--<div :class="{'info-tag':true,'active-info-tag':inputActiveTag('_cehuixiangmu')}">工程</div>-->
								<!--<div :class="{'info-tag':true,'active-info-tag':inputActiveTag('_cehuihetong')}">合同</div>-->
								<!--<div :class="{'info-tag':true,'active-info-tag':inputActiveTag('_qiandan')}">欠单</div>-->
								<!--<div :class="{'info-tag':true,'active-info-tag':inputActiveTag('_shoukuan')}">收款</div>-->
								<!--<div :class="{'info-tag':true,'active-info-tag':inputActiveTag('_gongzuofenpei')}">工作量明细</div>-->
								<!--<div :class="{'info-tag':true,'active-info-tag':inputActiveTag('_chanzhifenpei')}">提成明细</div>-->
							</div>
							<div class="info-type" v-for="(infoType,index) in allLayer2InfoTypeMap">
								<div class="info-type-title" :class="{'info-type-title':true,'info-type-title-empty':!filterInputTableField(infoType.tableName).length}" @click="doInfoTypeTitleClick('input',infoType.tableName)">
									<i class="el-icon-caret-right"></i>
									<div class="info-type-title-text">{{infoType.tableAlias}}</div>
									<div class="info-type-title-operate">
										<i class="el-icon-plus" @click="showAddFieldDiv('input',infoType.tableName,$event)"></i>
										<i class="el-icon-close"></i>
										<i class="el-icon-edit-outline"></i>
									</div>
								</div>
								<hr v-show="layer2Collapse.input[infoType.tableName]">
								<div class="info-type-input-content" v-show="layer2Collapse.input[infoType.tableName]">
									<div class="input-field-add-div" v-show="layer2AddFieldInfo['input'][infoType.tableName]['show']">
										<el-select size="mini" clearable filterable placeholder="字段名" v-model="layer2AddFieldInfo['input'][infoType.tableName]['field']">
											<el-option v-for="(item,key) in tableFieldMap[infoType.tableName]['fields']"
													   :value="key"
													   :label="item"
													   :disabled="excludeSelectedField('input',infoType.tableName,key)"
													   :key="key"
											></el-option>
										</el-select>
										<span> : </span>
										<el-input size="mini" v-model="layer2AddFieldInfo['input'][infoType.tableName]['value']" clearable></el-input>
										<el-button icon="el-icon-check" circle size="mini"
												   @click="doAddField('input',infoType.tableName,layer2AddFieldInfo['input'][infoType.tableName]['field'],layer2AddFieldInfo['input'][infoType.tableName]['value'])"></el-button>
										<el-button icon="el-icon-close" circle size="mini"
												   @click="doCancleAddField('input',infoType.tableName)"></el-button>
									</div>
									<div class="input-field-item" v-for="inputField in filterInputTableField(infoType.tableName)">
										<div class="input-field-name">{{tableFieldMap[infoType.tableName]['fields'][inputField.FieldName]}} : </div>
										<el-input size="mini"  clearable v-model="seniorSearchParam[inputField.TableName][inputField.FieldName]"></el-input>
										<i class="el-icon-close" @click="doRemoveInputItem(inputField)"></i>
									</div>
									<div class="input-field-empty-tips" v-if="filterInputTableField(infoType.tableName).length == 0">无数据</div>
								</div>
							</div>
						</div>
					</div>

					<div class="output-div">
						<div class="info-title">
							<span>输出信息</span>
						</div>
						<div class="info-main">
							<div class="info-tags">
								<!--<div class="info-tag">工程</div>-->
								<!--<div class="info-tag">合同</div>-->
								<!--<div class="info-tag">欠单</div>-->
								<!--<div class="info-tag">收款</div>-->
								<!--<div class="info-tag">工作量明细</div>-->
								<!--<div class="info-tag">提成明细</div>-->
							</div>
							<div class="info-type"  v-for="(infoType,index) in allLayer2InfoTypeMap" :key="index">
								<div :class="{'info-type-title':true,'info-type-title-empty':!filterOutputTableField(infoType.tableName).length}" @click="doInfoTypeTitleClick('output',infoType.tableName)">
									<i class="el-icon-caret-right"></i>
									<div class="info-type-title-text">{{infoType.tableAlias}}</div>
									<div class="info-type-title-operate">
										<i class="el-icon-plus" @click="showAddFieldDiv('output',infoType.tableName,$event)"></i>
										<i class="el-icon-close"></i>
										<i class="el-icon-edit-outline"></i>
									</div>
								</div>
								<hr v-show="layer2Collapse.output[infoType.tableName]">
								<div class="input-field-add-div" v-show="layer2AddFieldInfo['output'][infoType.tableName]['show']">
									<el-select size="mini" clearable filterable placeholder="字段名" v-model="layer2AddFieldInfo['output'][infoType.tableName]['field']">
										<el-option v-for="(item,key) in tableFieldMap[infoType.tableName]['fields']"
												   :value="key"
												   :label="item"
												   :disabled="excludeSelectedField('output',infoType.tableName,key)"
												   :key="key"
										></el-option>
									</el-select>
									<span> : </span>
									<el-button icon="el-icon-check" circle size="mini"
											   @click="doAddField('output',infoType.tableName,layer2AddFieldInfo['output'][infoType.tableName]['field'],layer2AddFieldInfo['output'][infoType.tableName]['value'])"></el-button>
									<el-button icon="el-icon-close" circle size="mini"
											   @click="doCancleAddField('output',infoType.tableName)"></el-button>
								</div>
								<div class="info-type-content" v-show="layer2Collapse.output[infoType.tableName]">
									<div class="output-field-item" v-for="outputField in filterOutputTableField(infoType.tableName)">
										<span>{{tableFieldMap[infoType.tableName]['fields'][outputField.FieldName]}}</span>
										<i class="el-icon-close" @click="doRemoveOutputItem(outputField)"></i>
									</div>
									<div class="output-field-empty-tips" v-if="filterOutputTableField(infoType.tableName).length == 0">
										<div class="">无数据</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</transition>
	</div>
	<script type="text/javascript" src="../js/lifecycleSearch.js"></script>
</body>
</html>